# local package
-e ../../datatools/.

# external requirements
joblib==0.14.1
numpy==1.18.2
pandas==1.0.3
spectral==0.20
matplotlib==3.2.1
opencv-python
scikit-learn==0.22.2.post1
scipy==1.4.1
Pillow==7.0.0
wrapt==1.11.2
ipykernel
colormath